<table id="jobsTable">
    <thead>
        <tr>
            {% for key in keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in table %}
            <tr>
                {% for key in keys %}
                <td class="
            {% if item['status'] == 'done' %}color-done
            {% elif item['status'] == 'running' %}color-running
            {% elif item['status'] == 'error' %}color-error
            {% else %}color-default
            {% endif %}
            ">{{ item[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
new DataTable('#jobsTable');
</script>
